@using ShopBon.Models
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="post-content">
    <h2 class="title">GIỚI THIỆU VỀ <br />SHOP BON</h2>
    <hr />

    <v><strong>Shop Bon</strong> <strong>(SB)</strong> được thành lập vào năm 2021. Đến nay, với hệ thống 50 cửa hàng được đặt tại trung tâm các thành phố lớn, các trung tâm thương mại cao cấp sầm uất, hiện đại bậc nhất, mỗi ngày thu hút gần 3.000 lượt khách đến tham quan và mua sắm; các website trực tuyến có hơn 15.000 lượt truy cập mỗi ngày, <strong>SB</strong> chính thức trở thành doanh nghiệp phân phối nước hoa và mỹ phẩm chính hãng lớn nhất Việt Nam.</v>
    <br />
    <br />
    <v>Hiện nay, <strong>SB</strong> có hàng ngàn sản phẩm nước hoa cao cấp của hầu hết những thương hiệu thời trang trứ danh như Chanel, Christian Dior, Bvlgari, Gucci, Victoria's Secret, Lancôme, Hugo Boss… đáp ứng nhu cầu sử dụng nước hoa ngày càng cao của mọi đối tượng khách hàng. <strong>SB</strong> được khách hàng mệnh danh là “Thiên đường của những mùi hương” bởi những điểm ưu việt mà tại Việt Nam chưa có một địa chỉ bán nước hoa, mỹ phẩm nào sánh được như sản phẩm đa dạng, giá cả cạnh tranh, chất lượng đảm bảo chính hãng. Đặc biệt, đội ngũ nhân viên được đào tạo bài bản, chuyên nghiệp, đáp ứng mọi yêu cầu khắt khe của khách hàng.</v>
    <br />
    <br />
    <v>Trái ngược với suy nghĩ của nhiều người, <strong>Shop Bon</strong> không phải là những cửa hàng riêng lẻ mà ngay từ đầu đã hình thành một chuỗi cửa hàng trực thuộc Công ty <strong>Shop Bon</strong>. Năm 2017, công ty <strong>Shop Bon</strong> còn sở hữu thêm thương hiệu Perfume World với chuỗi cửa hàng tọa lạc tại hơn 20 Trung tâm thương mại cao cấp Vincom trên khắp cả nước.</v>
    <br />
    <img src="~/Public/Images/versace.jpg" />
    <br />
    <v>Tuy cùng thuộc công ty <strong>Shop Bon</strong> nhưng thương hiệu <strong>Shop Bon</strong> và Perfume World khác nhau ở chỗ <strong>Shop Bon</strong> là hệ thống của những street-shop nằm trên các cung đường trọng yếu của các thành phố; còn Perfume World là hệ thống cửa hàng phân phối nước hoa nằm trong các trung tâm thương mại Vincom hiện đại.</v>
    <br />
    <br />
    <v>Hơn 10 năm hoạt động trong lĩnh vực phân phối và bán lẻ nước hoa chính hãng, công ty <strong>Shop Bon</strong> đã không ngừng nỗ lực mở rộng mạng lưới kinh doanh, tiếp tục vươn lên trở thành nhà phân phối độc quyền các thương hiệu mỹ phẩm cao cấp như mỹ phẩm chăm sóc da -417 đến từ vùng biển Chết của Israel, mỹ phẩm đặc trị từ thiên nhiên nằm trong top 5 thế giới Langé (Pháp)  hay mỹ phẩm trang điểm M.O.I của nữ ca sĩ Hồ Ngọc Hà.</v>
    <br />
    <br />
    <v>Đa dạng hóa thương hiệu là định hướng phát triển trong tương lai của Công ty Cổ phần Thương mại <strong>Shop Bon</strong>. Không chỉ là nước hoa mà các thương hiệu, sản phẩm thuộc lĩnh vực mỹ phẩm như chăm sóc da, trang điểm, Công ty Cổ phần Thương mại <strong>Shop Bon</strong> đều muốn tìm tòi, tiếp cận, đánh giá chất lượng, chọn lọc và phân phối tại thị trường Việt Nam, tạo điều kiện cho người tiêu dùng Việt tiếp cận thêm nhiều thương hiệu đẳng cấp.</v>
    <br />
    <br/>
    <v><strong style="color:darkred; text-align:center">HOTLINE: 1900 xxxx (Miễn Phí)</strong></v>
    <hr />
</div>


<style>
    .title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
        line-height: 60px;
        color: #555;
    }

        .title::after {
            content: "";
            background: #ff523b;
            width: 200px;
            height: 5px;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }


    v {
        color:#555;
        margin-bottom: 20px;
        font-size:large;
    }
    .post-content {
        text-align:center;
        margin-left:200px;
        margin-right:200px;
        display: block;
        overflow: hidden;
        word-wrap: break-word;
        text-align: justify;
        font-size: 15px;
        line-height: 24px;
    }

    .post-content img{
        
    }
</style>