@model IEnumerable<ShopBon.Models.Slider>
<div class="slideshow-container">
@*@foreach (var slide in model)
    {
        <div class="myslides" href="@url.action("slideshow","site",new {id = slide.id})">
                <img src="~/public/images/@slide.img" style="width:100%" />
        </div>

        }*@
<div class="mySlides">
    <img src="~/Public/Images/Banner1.jpg" style="width:100%">
</div>

<div class="mySlides">
    <img src="~/Public/Images/Banner2.png" style="width:100%">
</div>

<div class="mySlides">
    <img src="~/Public/Images/Banner3.jpg" style="width:100%">
</div>

<div class="mySlides">
    <img src="~/Public/Images/Banner5.jpg" style="width:100%">
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>




<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 5000); // Change image every 4 seconds
    }
</script>

<style>
    /* Slideshow container */
    .slideshow-container {
        background-size: 100% 100%;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        margin-left: 200px;
        margin-right: 200px;
        max-width: 100%;
        border: 5px solid #555;
    }

    /* Next & previous buttons */
    .prev, .next {
        background-color: black;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }



    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }
</style>
@*@model IEnumerable<ShopBon.Models.Slider>
    @foreach (var slide in Model)
    {
        <div class="mySlides">
            <div class="mySlides">
                <img src="~/Public/Images/@slide.Img" />
            </div>



            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>




        <script type="text/javascript">
            var slideIndex = 0;
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 5000); // Change image every 4 seconds
            }
        </script>

        <style>
            /* Slideshow container */
            .slideshow-container {
                background-size: 100% 100%;
                position: relative;
                margin: auto;
            }

            /* Hide the images by default */
            .mySlides {
                margin-left: 200px;
                margin-right: 200px;
                max-width: 100%;
                border: 5px solid #555;
            }

            /* Next & previous buttons */
            .prev, .next {
                background-color: black;
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

                /* On hover, add a black background color with a little bit see-through */
                .prev:hover, .next:hover {
                    background-color: rgba(0,0,0,0.8);
                }



            /* The dots/bullets/indicators */
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

                .active, .dot:hover {
                    background-color: #717171;
                }
        </style>
    }*@
